{% load static %} 
{% include "header.html" %}
{% include "navigation.html" %}
{% include "logo.html" %}

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
      <h1>Error</h1>
      <hr>
      <br/>
      <br/><br/>
      <div class='centerbox-error-outer'> 
          <span class='centerbox-error-inner'>     
          {{data.error}}
          </span>
      </div>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
    </div>
  </div>
</div>

{% include "footer.html" %}





