{% load static %} 
{% include "header.html" %}
{% include "navigation.html"%}


    <header id="top" class="header">
        <div style="display:table-row">
            <div class="text-vertical-center">
                <h1>Web App</h1>
            </div>
        </div>
        <div class="container">
            <div class="dashboard">
                <div class="span8 offset2" style="margin: 30px auto; max-width:800px">
                <br/>
                Welcome to Web App!
                <br/><br/>
                This is an empty skeleton. 
                </div>

            </div>
        </div>
    </header>

{% include "footer.html" %}



